.career__form {
  border-top: $career-border;
  border-bottom: $career-border;
  margin-top: 0.26rem;
  padding-left: 0.2rem;
  background-color: #FFFFFF;
  color: #333333;
  font-size: 0.3rem;
  line-height: 0.4rem;
}
.career__form-tags-tips {
  text-align: center;
  font-size: 0.3rem;
  line-height: 0.4rem;
  margin-top: 0.3rem;
  color: #999999;
}
.career__item {
  padding-right: 0.6rem;
  border-bottom: $career-border;
  overflow: auto;
  label {
    margin: 0.3rem 0;
    display: block;
    float: left;
    .career__form-tips {
      color: #999999;
      display: block;
      font-size: 0.24rem;
      line-height: 0.4rem;
    }
  }
  .career__form-label-with-tips {
    margin: 0.1rem 0 !important;
  }
  input {
    color: #666666;
    margin: 0.3rem 0 0.35rem;
    width: 4.3rem;
    text-align: right;
    font-size: 0.3rem;
    line-height: 100%;
    border: none;
    word-break: normal;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #C7C7C7;
    }
  }
  .career__item-content-taginput {
    width: 0.68rem;
  }
  .career__item-content-taginput:nth-last-of-type(1) {
    text-align: left;
  }
  select {
    color: #666666;
    margin: 0.3rem 0 0.35rem;
    text-align: right;
    -webkit-appearance: none;
    box-shadow: none;
    background: transparent;
    border: none;
    background-color: white;
    font-size: 0.3rem;
    line-height: 0.4rem;
    &:focus {
      outline: none;
    }
  }
  textarea {
    color: #666666;
    margin: 0.3rem 0 0.35rem !important;
    width: 4.3rem;
    height: 2rem!important;
    font-size: 0.3rem;
    line-height: 0.4rem;
    resize: none;
    border: none;
    &::placeholder {
      color: #C7C7C7;
    }
  }
  .career__item-content-checkbox {
    margin: 0.2rem 0;
    margin-right: -0.2rem;
  }
  .career__item-content-checkbox-item {
    margin-right: 0.2rem;
    display: inline-block;
    text-align: center;
    width: 1.77rem;
    font-size: 0.3rem;
    line-height: 0.6rem;
    border: $career-border;
    border-radius: 0.3rem;
  }

  .career__item-content-checkbox-item-active {
    @extend .career__item-content-checkbox-item;
    background-color: #1AC7EE;
    color: #FFFFFF;
  }
}
.career__item:nth-last-of-type(1) {
  border-bottom: none;
}
.career__form-required {
  color: red;
}
.career__item-content {
  float: right;
}
.career__form-submit {
  margin-top: 0.4rem;
  padding: 0 0.2rem 0.6rem;
  button {
    background-color: #1AC7EE;
    width: 100%;
    border: none;
    height: 0.8rem;
    border-radius: 0.2rem;
    font-size: 0.34rem;
    line-height: 0.4rem;
    color: white;
  }
  button:disabled {
    background-color: #c7c7cc;
  }
  .career-button {
    margin-top: 0.1rem;
    background-color: #c7c7cc;
  }
}
.career__form-submit-app {
  margin-bottom: 0.4rem;
  color: #999999;
  font-size: 0.3rem;
  line-height: 0.4rem;
}
.career__form-submit-app-link {
  color: #1AC7EE;
}
.career__form-submit-error {
  text-align: center;
  margin-bottom: 0.1rem;
  font-size: 0.3rem;
  line-height: 0.4rem;
  color: red;
}
.career__form-field-error-wrapper {
  position: absolute;
  width: 100%;
  margin-top: -0.3rem;
  text-align: center;
}
.career__form-field-error {
  background: #f00;
  color: #fff;
  padding: 2px 5px;
  font-size: 0.25rem;
}
.career__form-field-error::after {
  content: '';
  border: 4px solid transparent;
  border-top-color: #f00;
  position: absolute;
  bottom: -(2px + 4px);
  left: 50%;
}
.career__item-tags {
  input {
    color: #666666;
    padding: 0.3rem 0.2rem 0.3rem 0;
    width: 6rem;
    text-align: left;
    font-size: 0.3rem!important;
    line-height: 100%!important;
    border: none;
    word-break: normal;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #C7C7C7;
    }
  }
}
.career__form-tags-list {
  border-top: $career-border;
  margin-left: -0.2rem;
  padding: 0 0.2rem 0.3rem;
  overflow: hidden;
  word-break: keep-all;
}
.career__form-tags-list-item {
  display: inline-block;
  border-radius: 0.1rem;
  padding: 0.15rem 0 0.15rem 0.2rem;
  margin-top: 0.3rem;
  margin-right: 0.34rem;
  font-size: 0.3rem;
  line-height: 0.4rem;
  background-color: #e9e9e9;
}
.career__form-tags-list-item-delete {
  padding: 0.15rem 0.16rem;
  color: #aaa9a9;
}
.career__others {
  textarea {
    color: #666666;
    width: 100%;
    height: 2rem!important;
    font-size: 0.3rem;
    line-height: 0.4rem;
    resize: none;
    border: none;
  }
  &::placeholder {
    color: #C7C7C7;
  }
}
