.career-view__profile {
  padding: 0.46rem 0.2rem 0;
  height: 2.69rem;
  overflow: auto;
  background-image: url('../images/head_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.career-view__avatar {
  float: left;
  border-radius: 1.32rem;
  overflow: hidden;
  width: 1.32rem;
  height: 1.32rem;
  img {
    width: 100%;
    display: block;
  }
}
.career-view__info {
  padding-left: 1.5rem;
}
.career-view__info-item-name {
  color: $profile-font-color;
  font-size: 0.37rem;
  line-height: 0.37rem;
  font-weight: bold;
  padding-bottom: 0.12rem;
}
.career-view__info-item {
  color: $profile-font-color;
  width: 4.9rem;
  padding-top: 0.08rem;
  font-size: 0.3rem;
  line-height: 0.3rem;
  // 不换行
  white-space: nowrap;
  // 超出隐藏
  overflow: hidden;
  // 文字截取
  text-overflow: clip;
}
.career-view__info-item-required {
  position: absolute;
  margin-left: 1.5rem;
  margin-top: 0.2rem;
  padding: 0.1rem 0.4rem 0.08rem;
  color: #0bb7f0;
  font-size: 0.28rem;
  line-height: 0.28rem;
  border: 1px solid #6a717c;
  border-radius: 0.3rem;
}
.career-view__profile-edit-icon {
  position: absolute;
  padding: 0.77rem 0.2rem 1rem 1rem;
  right: 0;
  width: 0.2rem;
  height: 0.33rem;

  img {
    width: 100%;
  }
}
