.career-view__item-segment-tag {
  @extend .career-view__item-segment;
  padding-top: 0.06rem;
}
.career-view__item-tag-box {
  padding-bottom: 0.04rem;
  // margin-right: 1.5rem;
}
.career-view__tag {
  display: inline-block;
  margin-right: 0.2rem;
  margin-top: 0.14rem;
  margin-bottom: 0.14rem;
  color: #666666;
  font-size: 0.28rem;
  line-height: 0.4rem;
}
.career-view__tag-name {
  display: inline-block;
  padding: 0.1rem 0.05rem 0.1rem 0.16rem;
  background-color: #e9e9e9;
  border-top-left-radius: 0.1rem;
  border-bottom-left-radius: 0.1rem;
}
.career-view__tag-name-agree {
  @extend .career-view__tag-name;
  background-color: #5FD5D9;
  color: #fff;
}

.career-view__tag-agreeCount {
  display: inline-block;
  padding: 0.1rem 0.16rem;
  background-color: #d9d9d9;
  border-top-right-radius: 0.1rem;
  border-bottom-right-radius: 0.1rem;
}
.career-view__tag-agreeCount-agree {
  @extend .career-view__tag-agreeCount;
  background-color: #2DC3C8;
  color: #fff;
}
