<!DOCTYPE html>
<html lang="en">
<head>
	{{include './common/meta'}}
<link rel="shortcut icon" href="/static/favicon.ico"><link href="/static/styles/vendors.css?854b9ff542a3f904b4e9" rel="stylesheet"><link href="/static/styles/index.css?854b9ff542a3f904b4e9" rel="stylesheet"></head>
<body>
	{{include './common/header'}}
	<div class="g-bd">
		<input type="button" value="弹窗" class="btn">
		<p class="img">
			<img src="/static/imgs/jrjy-483363dfaf94b3843490d70424f64681.png" alt="">
		</p>
		<div id="lxc"></div>
		{{include './common/_content'}}
	</div>
	{{include './common/footer'}}
<script type="text/javascript" src="/static/scripts/vendors.js?854b9ff542a3f904b4e9"></script><script type="text/javascript" src="/static/scripts/index.js?854b9ff542a3f904b4e9"></script></body>
</html>
