.page-drawer-menu {
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0.96rem;
  transform: translate3d(-100%, 0, 0);
  left: 0;
  width: 85vw;
  background-color: #fff;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 13;
  transition: transform 0.3s;
  &.show {
    transform: translate3d(0, 0, 0);
  }
}
.menu__nav {
  text-align: left;
}
.page-drawer__inner {
  height: 100%;
  overflow: auto;
}
.menu-user-list {
  background-color: #F5FBFF;
}
.menu-user-item {
  border-top: solid 1px #E9ECEE;
  height: 0.8rem;
  display: block;
  text-indent: 10vw;
  font-size: 0.28rem;
  line-height: 0.8rem;
  text-decoration: none;
  color: #666;
  &:last-child {
    border-bottom: 1px solid #e9ecee;
  }
  &.menu-user-item_none {
    display: none;
  }
}
.user-info {
  padding: 0 5vw;
  .title {
    text-align: center;
    height: 0.4rem;
    border-bottom: solid 1px #CDCDCD;
    margin: 0.1rem 0 0.4rem 0;
  }
}
.user-info__name {
  color: #0D6FB8;
  display: inline-block;
  padding: 0 0.2rem;
  background-color: #fff;
  position: relative;
  top: -0.1rem;
  line-height: 1;
  font-size: 0.28rem;
  &:before {
    margin-right: 0.15rem !important;
  }
}
.user-info__operate {
  a {
    display: block;
    height: 0.8rem;
    line-height: 0.8rem;
    border: 1px solid #cdcdcd;
    border-top-width: 0;
    text-align: left;
    padding: 0 5vw;
    font-size: 0.28rem;
    color: #666;
    text-decoration: none;
    overflow: hidden;
    &:first-child {
      border-top-width: 1px;
    }
  }
  .right {
    float: right;
  }
}
.sign-out {
  color: #0D6FB8;
  float: right;
  font-size: 13px;
  margin: 10px 0;
}
.sign-operate {
  text-align: center;
  margin-top: 0.5rem;
}
.sign-operate__btn {
  display: inline-block;
  vertical-align: middle;
  width: 2rem;
  height: 0.6rem;
  line-height: 0.6rem;
  border: solid 1px #C0C0C0;
  border-radius: 0.03rem;
  color: #0D6FB8;
  font-size: 0.26rem;
  letter-spacing: 0.02rem;
  background-color: #FFF;
  text-decoration: none;
  margin: 0 0.2rem;
}
