.job-toolbar__wrapper {
  height: 0.96rem;
}
.job-toolbar {
  text-align: center;
  height: 0.96rem;
  line-height: 0.96rem;
  width: 100%;
  background: #fff;
  color: #000;
  border-bottom: 1px solid #e9e9e9;
  font-size: 0.36rem;
  position: fixed;
  top: 0;
  z-index: 999;
}
.job-toolbar__title {
  display: inline-block;
  max-width: 60vw;
  font-size: 0.34rem;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.job-toolbar__list {
  height: 0.36rem;
  line-height: 0.36rem;
  text-align: center;
  padding: 0 2px;
  font-size: 0.24rem;
  color: #00C0FF;
  border: 1px solid #00C0FF;
  border-radius: 3px;
  text-decoration: none;
  position: absolute;
  right: 10px;
  top: 13px;
}
.job-toolbar__list_all {
  text-decoration: none;
  color: #00C0FF;
  font-size: 0.45rem;
  position: absolute;
  right: 0.15rem;
  top: -0.05rem;
}
.job-toolbar__back {
  text-decoration: none;
  color: #00C0FF;
  font-size: 0.6rem;
  position: absolute;
  left: 0;
  top: -1px;
}
.job-toolbar__drawer_trigger {
  font-size: 0.45rem;
  position: absolute;
  color: #0097e0;
  left: 3vw;
}
.job-toolbar__search {
  width: 4rem;
  height: 0.6rem;
  line-height: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  margin: 0.18rem auto;
  position: relative;
  .icon-search {
    float: left;
    color: #C7D1D3;
    font-size: 0.32rem;
    margin-left: 0.18rem;
    &:before {
      vertical-align: 0.02rem;
    }
  }
}
.job-toolbar__search_input {
  border: none;
  outline: none;
  height: 100%;
  line-height: 0.65rem;
  width: 3rem;
  float: left;
  font-size: 0.28rem;
  color: #333;
  margin-left: 0.1rem;
}
.job-toolbar__right_icon {
  text-decoration: none;
  color: #00C0FF;
  font-size: 0.4rem;
  position: absolute;
  right: 3vw;
  top: 0;
}
.job-toolbar__right_text {
  @extend .job-toolbar__right_icon;
  font-size: 0.3rem;
}
.toolbar-suggestion_wrapper {
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0.96rem;
  left: 0;
  width: 100vw;
  z-index: 13;
}
.toolbar-suggestion {
  position: absolute;
  width: 50vw;
  left: 25vw;
  top: 0;
  overflow: scroll;
  max-height: 5.22rem;
  background: #fff;
  border-radius: 0.1rem;
  box-shadow: 0 0.02rem 0.05rem rgba(0,0,0,0.3);
  &::-webkit-scrollbar {
    display: none;
  }
}

