.job-toolbarbottom {
  height: 1rem;
  line-height: 1rem;
  position: fixed;
  bottom: 0;
  z-index: 9;
  font-size: 0;
}
.job-star {
  display: inline-block;
  height: 1rem;
  width: 20vw;
  background: #00B1E4;
  text-align: center;
  color: #fff;
  font-size: 0.34rem;
  &.icon-uniE618:before {
    font-size: 0.4rem;
  }
  &.icon-uniE69A:before {
    font-size: 0.34rem;
    margin-left: -0.01rem;
    vertical-align: 0.06rem;
  }
}
.job-deliver {
  display: inline-block;
  width: 80vw;
  height: 1rem;
  background: #00C0FF;
  text-align: center;
  font-size: 0.34rem;
  color: #FFF;
  &.job-deliver__no {
    background: #bababa;
  }
}
