.job-item {
  background: #fff;
  padding: 0.28rem 3vw 0px;
  display: block;
  margin-bottom: 0.2rem;
}
.job-item__top {
  border-bottom: 1px dashed #f4f4f4;
}
.job-item__info {
  position: relative;
  overflow: hidden;
  .job-status {
    margin-top: 0.03rem;
  }
}
.job-item__title {
  float: left;
  margin: 0;
  font-size: 0.32rem;
  color: #333;
  font-weight: normal;

  display: inline-block;
  max-width: 45vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.job-item__salary {
  font-size: 0.32rem;
  color: #FF9000;
  float: right;
}
.job-item__content {
  position: relative;
  overflow: hidden;
  margin: 0.14rem 0 0.2rem;
}
.job-item__company {
  float: left;
  font-size: 0.28rem;
  color: #999;
  font-weight: normal;
}
.job-item__update {
  font-size: 0.28rem;
  color: #999;
  float: right;
}
.job-item__bottom {
  height: 0.72rem;
  line-height: 0.72rem;
  position: relative;
  overflow: hidden;
}
.job-item__bottom_list {
  float: left;
  font-size: 0.24rem;
  color: #A0BCC9;
  margin-right: 10vw;
  &:last-of-type {
    margin-right: 0;
  }
  &.icon-uniE603, &.icon-uniE62F {
    &:before {
      vertical-align: 1px;
    }
  }
}
.job-item__ad {
  display: block;
  height: 2rem;
  margin-bottom: 0.2rem;
  background: #fff;
  overflow: hidden;
}
.job-item__adimg {
  width: 100%;
  height: 100%;
  display: block;
}
.job-item__status {
  float: right;
  font-size: 0.28rem;
  color: #999;
}
