.job-search__list {
  padding-left: 3vw;
}
.job-search__item {
  padding-right: 3vw;
  position: relative;
  height: 0.87rem;
  line-height: 0.87rem;
  font-size: 0.32rem;
  color: #333;
  border-bottom: 1px solid #f4f4f4;
  &:last-of-type {
    border-bottom: none;
  }
}
.icon-iconfont-close {
  float: right;
  color: #999;
}
.job-search__list_content {
  display: inline-block;
  height: 100%;
  width: 90%;
}
